* {
  box-sizing: border-box;
  margin: 0;
}
h1 {
  color: white;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: block;
  background-color: #094b42;
}
#Marco {
  margin-left: 15%;
  margin-right: 15%;
  background-color: #32bdb8;
  border: 10px solid black;
}
#gato {
  margin: 8%;
  clear: left;
}
body {
  background-image: url(https://i.pinimg.com/originals/95/84/68/9584687d7fa69d3b59e1f6df1ee6ef81.gif);
  background-size: 10%;
}
body p {
  text-align: justify;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 3%;
}
#Autor {
  float: left;
  margin: 3%;
}
#Titulou {
  padding-top: 3%;
  top: 4px;
}
span {
  font-style: italic;
}
#gato2 {
  position: absolute;
  left: 720px;
  top: 105px;
}
#gato3 {
  position: absolute;
  left: 330px;
  top: 105px;
}
#gato4 {
  position: absolute;
  left: 1030px;
  top: 230px;
}
#gato5 {
  position: absolute;
  right: 1010px;
  top: 430px;
}
#gato6 {
  position: absolute;
  right: 1010px;
  top: 1000px;
}
#gato7 {
  position: absolute;
  left: 1000px;
  top: 700px;
}
#gato8 {
  position: absolute;
  left: 1000px;
  top: 1400px;
}
#gato9 {
  position: absolute;
  right: 1010px;
  top: 1800px;
}
#gato10 {
  position: absolute;
  left: 1010px;
  top: 2400px;
}
iframe {
  display: block;
  margin: 0 auto;
}
#Explosion {
  float: right;
  margin: 3%;
}
#obras1 {
  display: block;
  position: absolute;
  margin: 5%;
  left: 400;
  top: 1150px;
}
#obras2 {
  position: absolute;
  display: block;
  margin: 5%;
  left: 500px;
  top: 1150px;
}
#obras3 {
  position: absolute;
  display: block;
  margin: 5%;
  left: 750px;
  top: 1150px;
}
figcaption {
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
#muerte {
  float: left;
  margin: 3%;
}
